@font-face {
  font-family: "TBB";
  src: url("8-bit-fortress.ttf"); /*URL to font*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TBB", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 5vh;
  user-select: none;
}

h1 {
  font-size: 1.5rem;
  margin: 1rem;
}

p {
  font-size: 1.2rem;
  margin: 1rem;
  text-align: right;
}

h2 {
  font-size: 0.7rem;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 3rem;
  height: 3rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: rgb(179, 156, 141);
}

.kick-pad.active {
  background: rgb(109, 81, 59);
}

.snare-pad {
  background: rgb(230, 230, 230);
}

.snare-pad.active {
  background: rgb(185, 184, 184);
}

.hihat-pad {
  background: rgb(26, 26, 26);
}

.hihat-pad.active {
  background: rgb(219, 219, 219);
}

.sequencer {
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls button {
  padding: 0.8rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-left: 1rem;
}

.pad {
  transition: all 0.5s ease;
  flex-wrap: wrap;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 5rem;
}

select {
  padding: 1rem;
  font-size: 0.8rem;
}

.mute.active {
  background: rgb(182, 182, 182);
}

.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}
.tempo p {
  font-size: 1rem;
  margin: 1rem;
  margin-bottom: 0rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
